body{
    font-size: 18px;
}
.jumbotron{
    background-color: #f4511e;
    color: #fff;
    padding: 100px 25px;
}
.bg-grey{
    background-color: #f6f6f6;
}

.container-fluid{
    padding: 60px 50px;
}

.logoHttc{
    font-size: 200px;
    width: 100%;
    height: 100%;
    border: none;
}

.logo{
    font-size: 200px;
    color: #f4511e;
}
.logo-small{
    color: #f4511e;
    font-size: 50px;
}

@media screen and (max-width:768px) {
    .col-sm-4{
        text-align: center;
        margin: 25px 0;
    }
}

/*Carousel*/

.carousel-control.right, .carousel-control.left{
    background-image: none;
    color: #f4511e;
}

.carousel-indicators li.active{
    background-color: #f4511e;
}

.item img{
    width: 100%;
    height: 100%;
    size: cover;
}

.item h4{
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span{
    font-style: normal;
}

a{ 
    color: black;
}

.c{
    font-size: 30px;
    margin-right: 10px;
}

/*Barre de navigation*/

.navbar{
    margin-bottom:0;
}